html {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
  padding: 10px;
}

body {
  /* border: 1px solid black; */
  padding: 10px;
}

header {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

img {
  width: 150px;
}

#cover {
  text-align: center;
}

.coverimage {
  width: 340px;
}

.articleList {
  /* border: 1px solid black; */
  list-style: none;
  padding: 5px;
}

.articleList li {
  /* border: 1px solid black; */
  padding: 2.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.articleList img {
  grid-row-start: span 2;
  align-self: center;
}

.articleList a:link {
  text-decoration: none;
}

.articleList a {
  color: #023047;
}
