html {
  display: grid;
  grid-template-columns: 1fr;
  width: 100vw;
}

body {
  /* border: 1px solid black; */
  padding: 25px;
  text-align: center;
}

header {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

img {
  width: 150px;
}

#cover {
  background: url(../public/assets/news.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

.coverimage {
  width: 300px;
}

.page-description {
  padding: 10px;
  background-color: #023047;
  margin-top: 15px;
  color: aliceblue;
}

.page-description h1 {
  color: #ffb703;
}

.articleList {
  /* border: 1px solid black; */
  list-style: none;
  padding: 5px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
}

.articleList li {
  /* border: 1px solid black; */
  padding: 2.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 215px;
}

.articleList img {
  grid-row-start: span 2;
  align-self: baseline;
  width: 150px;
}

@media (min-width: 555px) {
  .articleList img {
    width: 200px;
  }
}

@media (min-width: 635px) {
  .articleList li {
    grid-template-columns: 1fr;
    padding-right: 10px;
    height: 370px;
  }
  .articleList img {
    grid-column-start: span 2;
    width: 250px;
  }
}

.articleList a:link {
  text-decoration: none;
}

.articleList a {
  color: #023047;
}

.article-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline 2px #fb8500;
}

.article-section {
  display: flex;
  flex-direction: column;
}

.article-section img {
  width: 325px;
  padding-bottom: 15px;
}

.article-body {
  padding-top: 08px;
}

h3 {
  font-style: italic;
}

.votes {
  padding-bottom: 10px;
}

.votes button {
  border: none;
  background-color: #fb8500;
  color: #023047;
  height: 50px;
  width: 50px;
  border-radius: 10%;
}

.commentForm {
  /* border: 1px solid black; */
  display: grid;
}

.commentForm button {
  border: none;
  background-color: #ffb703;
  color: #023047;
  border-radius: 15px;
}
.commentForm button:hover {
  border: none;
  background-color: #023047;
  color: #ffb703;
  border-radius: 15px;
}

.selecter {
  display: flex;
  justify-content: space-between;
}

.selecter label {
  display: flex;
  align-items: center;
}

select {
  width: 215px;
  height: 50px;
}

.comments ul {
  list-style: none;
  padding: 5px;
  /* border: 1px solid #023047; */
  margin-top: 10px;
}

.comment-card {
  border-top: 2px solid #ffb703;
  border-bottom: 2px solid #ffb703;
  margin-bottom: 15px;
  background-color: #023047;
  color: aliceblue;
  padding: 5px;
}

.comment-card h4 {
  color: #fb8500;
  font-style: italic;
}
