.articleList {
  list-style: none;
  padding: 10px;
  display: grid;
  gap: 1rem;
}

.articleList li {
  border: 1px solid black;
  padding: 5px;
  height: 375px;
}

.articleList li h3:hover {
  color: red;
}

@media (min-width: 600px) {
  .articleList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .articleList {
    grid-template-columns: repeat(3, 1fr);
  }
}
