nav {
  border: 3px solid #2b2d42;
  border-radius: 10px;
  background: #edf2f4;
  height: fit-content;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

nav button {
  font-size: 1.5rem;
}

.topicSearch {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.topicSearch select {
  font-size: 1rem;
  margin-right: 10px;
}
